@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #dce0d9;
  --secondary-color: #fbf6ef;
  --third-color: #ead7c3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--secondary-color);
}

#root {
  height: 100%;
}

.underline-animation {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.active {
  border-bottom: 2px solid salmon;
  transition: all 150ms;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  right: 0;
  background: salmon;
  transition: width 0.5s ease;
}

.underline-animation:hover:after {
  width: 100%;
  left: 0;
  background: salmon;
}

.popin {
  animation: popin forwards ease 300ms;
}

@keyframes popin {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}
